torch==2.0.1
torchaudio==2.0.2
sounddevice==0.4.6
numpy==1.26.2
transformers==4.41.0
pyannote.audio==3.1.1
ollama
faiss-cpu
soundfile
onnxruntime
librosa
pyttsx3
httpx==0.25.2
huggingface-hub==0.20.0